@model Shop.Web.Models.DeliverViewModel

@{
    ViewData["Title"] = "Deliver";
}

<h2>Deliver</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deliver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

                    <input type="text" asp-for="DeliveryDate" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fal fa-calendar-alt"></i></div>
                    </div>
                </div>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
                <a asp-action="Index" class="btn btn-success"><i class="far fa-chevron-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.format = 'YYYY-MM-DD hh:mm';
    });
    </script>
}


